@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
	padding-top: 10px;
	background-color: #363532;
	font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline;
}

h2 {
  color: #f62;
  margin-left: 30px;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  display: inline;
}

p {
  margin-top: 20px;
  color: #ddd;
  font-size: 20px;
  font-family: 'Open Sans', Arial, sans-serif; 
}

.dark {
  color: #666;
}

a:link {color:#EA6447;}
a:visited {color:#EA6447;}
a:hover {color:#f60;}
a:active {color:#f60;}

a.foot:link {color:#666;}
a.foot:visited {color:#666;}
a.foot:hover {color:#ddd;}
a.foot:active {color:#ddd;}

.vil-rowsection {
  margin-top: 100px;
}

a img {
  opacity: .4;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}

.vil-logo:hover {opacity:1; background-image:none;}

img.photo {
  border:2px solid #444;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
